/*------------------------ General Styles ------------------------*/

@charset "UTF-8";

body{  
    margin: 0;  /* remove default margins */
    padding: 0; /* remove default paddings */
    background-color: white;
    box-sizing: border-box; /*browser includes padding & border within specified width and height */
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    overscroll-behavior: none; /* Disabling overscroll behavior for entire page */
}

/*------------------------ Overlay Style ------------------------*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);  
    z-index: 1; /* to ensure the overlay is above other elements */
}

.container{
    max-width: 100%;
    margin: 0 auto;  /* top=right=0, left=right=auto (evenly distributes the space) */
}

.site-content{
    margin-top: 70px; 
}

@media screen and (max-width: 768px){     /* Styles for smaller screens */
    .site-content{
        margin-top: 30px; 
    }
}
